In [51]:
# This jupyter notebook is a cleaned up version of 10+ notebooks. All of the work is shown in a clean way! If you 
# really want to see a mess, feel free to open up the junk folder I created in the repo to see all my 
# trial and errors.

## Problem Statement:

As a data scientist working for Harold Pike construction, I am interested in finding out which variables are the largest indicators of sale price. Harold Pike Construction renovates homes and builds homes from the ground up. If we can find out which attributes lead to highest sale price, we will have a better idea of where and what type of house to build/renovate to maximize our profits. Is location the leading factor driving Sale Price? Which type of house and how much land are ideal? Other than size of the house and location, what is one surprising trait that significantly increases house prices?

I will be presenting to the board on where/what type of houses need to be built/renovated to maximize our profits.

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error

### Clean the Train dataset

In [2]:
# Import training data to clean
train_clean = pd.read_csv('datasets/train.csv')

In [3]:
# Check first 5 rows 
train_clean.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
#Check for null and missing values
train_clean.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

In [5]:
# Fill nulls with different thing for each feature depending on feature 

train_clean['Lot Frontage']=train_clean['Lot Frontage'].fillna(train_clean['Lot Frontage'].mean())
train_clean['Alley']=train_clean['Alley'].fillna('No alley access')
train_clean['Mas Vnr Type']=train_clean['Mas Vnr Type'].fillna(0)
train_clean['Mas Vnr Area']=train_clean['Mas Vnr Area'].fillna(train_clean['Mas Vnr Area'].mean())
train_clean['Bsmt Qual']=train_clean['Bsmt Qual'].fillna('No Basement')
train_clean['Bsmt Cond']=train_clean['Bsmt Cond'].fillna('No Basement')
train_clean['Bsmt Exposure']=train_clean['Bsmt Exposure'].fillna('No Basement')
train_clean['BsmtFin Type 1']=train_clean['BsmtFin Type 1'].fillna('No Basement')
train_clean['BsmtFin SF 1']=train_clean['BsmtFin SF 1'].fillna(0)
train_clean['BsmtFin Type 2']=train_clean['BsmtFin Type 2'].fillna('No Basement')
train_clean['BsmtFin SF 2']=train_clean['BsmtFin SF 2'].fillna(0)
train_clean['Total Bsmt SF']=train_clean['Total Bsmt SF'].fillna(0)
train_clean['Bsmt Unf SF']=train_clean['Bsmt Unf SF'].fillna(0)
train_clean['Bsmt Full Bath']=train_clean['Bsmt Full Bath'].fillna(0)
train_clean['Bsmt Half Bath']=train_clean['Bsmt Half Bath'].fillna(0)
train_clean['Fireplace Qu']=train_clean['Fireplace Qu'].fillna('No Fireplace')
train_clean['Garage Type']=train_clean['Garage Type'].fillna('No Garage')
train_clean['Garage Yr Blt']=train_clean['Garage Yr Blt'].fillna(train_clean['Garage Yr Blt'].mean())
train_clean['Garage Finish']=train_clean['Garage Finish'].fillna('No Garage')
train_clean['Garage Cars']=train_clean['Garage Cars'].fillna(0)
train_clean['Garage Area']=train_clean['Garage Area'].fillna(0)
train_clean['Garage Qual']=train_clean['Garage Qual'].fillna('No Garage')
train_clean['Garage Cond']=train_clean['Garage Cond'].fillna('No Garage')
train_clean['Pool QC']=train_clean['Pool QC'].fillna('No Pool')
train_clean['Fence']=train_clean['Fence'].fillna('No Fence')
train_clean['Misc Feature']=train_clean['Misc Feature'].fillna('None')

In [6]:
# Dummy variables for all categorical columns 
train_clean = pd.get_dummies(train_clean, columns=None, drop_first=True)

In [7]:
# First 5 rows of cleaned with dummy variables
train_clean.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,533352170,60,69.0552,13517,6,8,1976,2005,289.0,...,0,0,0,0,0,0,0,0,0,1
1,544,531379050,60,43.0000,11492,7,5,1996,1997,132.0,...,0,0,0,0,0,0,0,0,0,1
2,153,535304180,20,68.0000,7922,5,7,1953,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
3,318,916386060,60,73.0000,9802,5,5,2006,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
4,255,906425045,50,82.0000,14235,6,8,1900,1993,0.0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
# Save new dataframe as a csv called 'train_clean'
train_clean.to_csv('datasets/train_clean.csv')

### Clean the Test dataset in the same way as train

In [9]:
# Import training data to clean
test_new = pd.read_csv('datasets/test.csv')

In [10]:
# First 5 rows of test
test_new.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [11]:
test_new.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    160
               ...
Misc Feature    837
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
Length: 80, dtype: int64

In [12]:
# Replace the missing data from the test with different method depending on columns 

test_new['Lot Frontage']=test_new['Lot Frontage'].fillna(test_new['Lot Frontage'].mean())
test_new['Alley']=test_new['Alley'].fillna('No alley access')
test_new['Mas Vnr Type']=test_new['Mas Vnr Type'].fillna(0)
test_new['Mas Vnr Area']=test_new['Mas Vnr Area'].fillna(test_new['Mas Vnr Area'].mean())
test_new['Bsmt Qual']=test_new['Bsmt Qual'].fillna('No Basement')
test_new['Bsmt Cond']=test_new['Bsmt Cond'].fillna('No Basement')
test_new['Bsmt Exposure']=test_new['Bsmt Exposure'].fillna('No Basement')
test_new['BsmtFin Type 1']=test_new['BsmtFin Type 1'].fillna('No Basement')
test_new['BsmtFin SF 1']=test_new['BsmtFin SF 1'].fillna(0)
test_new['BsmtFin Type 2']=test_new['BsmtFin Type 2'].fillna('No Basement')
test_new['BsmtFin SF 2']=test_new['BsmtFin SF 2'].fillna(0)
test_new['Total Bsmt SF']=test_new['Total Bsmt SF'].fillna(0)
test_new['Bsmt Unf SF']=test_new['Bsmt Unf SF'].fillna(0)
test_new['Bsmt Full Bath']=test_new['Bsmt Full Bath'].fillna(0)
test_new['Bsmt Half Bath']=test_new['Bsmt Half Bath'].fillna(0)
test_new['Fireplace Qu']=test_new['Fireplace Qu'].fillna('No Fireplace')
test_new['Garage Type']=test_new['Garage Type'].fillna('No Garage')
test_new['Garage Yr Blt']=test_new['Garage Yr Blt'].fillna(test_new['Garage Yr Blt'].mean())
test_new['Garage Finish']=test_new['Garage Finish'].fillna('No Garage')
test_new['Garage Cars']=test_new['Garage Cars'].fillna(0)
test_new['Garage Area']=test_new['Garage Area'].fillna(0)
test_new['Garage Qual']=test_new['Garage Qual'].fillna('No Garage')
test_new['Garage Cond']=test_new['Garage Cond'].fillna('No Garage')
test_new['Pool QC']=test_new['Pool QC'].fillna('No Pool')
test_new['Fence']=test_new['Fence'].fillna('No Fence')
test_new['Misc Feature']=test_new['Misc Feature'].fillna('None')

In [13]:
# Dummy variables for all categorical columns 
test_new = pd.get_dummies(test_new, columns=None, drop_first=True)

In [14]:
# First 5 rows of test clean with dummys
test_new.head()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Misc Feature_Shed,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,902301120,190,69.000000,9142,6,8,1910,1950,0.0,...,0,0,0,0,0,0,0,0,0,1
1,2718,905108090,90,69.545961,9662,5,4,1977,1977,0.0,...,0,0,0,0,0,0,0,0,0,1
2,2414,528218130,60,58.000000,17104,7,5,2006,2006,0.0,...,0,0,0,0,0,0,1,0,0,0
3,1989,902207150,30,60.000000,8520,5,6,1923,2006,0.0,...,0,0,0,0,0,0,0,0,0,1
4,625,535105100,20,69.545961,9500,6,5,1963,1963,247.0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
# Save to CSV called 'test_new'
test_new.to_csv('datasets/test_new.csv')

### Find the Coefficients

In [17]:
# Find the 65 highest correlated and 65 least correlated features of the train
# After much trial and error, 65 in each direction seemed to work best 

housing_corr_pos = train_clean.corr()['SalePrice'].sort_values(ascending=False)[0:65]
housing_corr_neg = train_clean.corr()['SalePrice'].sort_values()[0:65]

In [18]:
# Create lists of the coefficient names 
housing_corr_pos = housing_corr_pos.index
housing_corr_neg = housing_corr_neg.index
housing_corr_pos = list(housing_corr_pos)
housing_corr_neg = list(housing_corr_neg)

In [19]:
# One large list
housing_corr = housing_corr_neg + housing_corr_pos

In [20]:
# Match up the features that are in both the test and train while dropping Sale Price (will be my X in model)
# Again, this was found after much trial and error.

features1 = [x for x in housing_corr if x != 'SalePrice']
features2 = [x for x in features1 if x != 'MS Zoning_C (all)']
features3 = [x for x in features2 if x != 'Garage Qual_Fa']
features4 = [x for x in features3 if x != 'Bsmt Cond_Fa']
features5 = [x for x in features4 if x != 'Id']
features6 = [x for x in features5 if x != 'PID']

### Linear Regression Model

In [39]:
# Define the linear regression model (x and y)

X = train_clean[features6]

y= train_clean['SalePrice']

In [40]:
# Instantiate and fit linear regression

lr = LinearRegression()
lr.fit(X,y)

LinearRegression()

In [41]:
# Cross train split the data for testing 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [42]:
# Cross val score: 86.99
cross_val_score(lr, X, y, cv=5).mean()*100

86.9933188397622

In [43]:
# Predictions of Linear Regression 
preds = lr.predict(X_train)

In [44]:
# Mean squared error for Linear Regression: 25,925
np.sqrt(mean_squared_error(y_train,preds))

25925.59807061762

### Ridge and Lasso Model

In [26]:
# Scale the data for the ridge and lasso models 
ss = StandardScaler()
ss.fit(X_train)
X_train = ss.transform(X_train)
X_test = ss.transform(X_test)

In [27]:
# Instantiate and fit Lasso model 
lasso = LassoCV()
lasso.fit(X_train, y_train)

LassoCV()

In [28]:
# Find the predictions of the lasso model for comparison
preds = lasso.predict(X_train)

In [31]:
# Mean Squared Error of Lasso model: 25,720
np.sqrt(mean_squared_error(y_train,preds))

25720.66957484573

In [32]:
# Instantiate and fit Ridge model
ridge = RidgeCV()
ridge.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]))

In [33]:
# Predictions of ridge
preds = ridge.predict(X_train)

In [34]:
# Mean Squared Error of Ridge: 25,386
np.sqrt(mean_squared_error(y_train,preds))

25386.915240873623

### Use Models on cleaned test dataframe

In [52]:
# After much trial and error, even though the MSE of the ridge and lasso were lower than LR on the train-test,
# they gave me really, really, really big MSE on Kaggle. Scaling the data was giving me problems, and if I could have
# figured it out, probably would have used the ridge or lasso for my competition score as they had lower MSE's.

In [45]:
# New X for the test data that will be used to predict 
X_new = test_new[features6]

In [46]:
# Create new column for Sale Price in the test dataframe that was predicted
test_new['SalePrice'] = lr.predict(X_new)

In [48]:
# Check mean to see if we are in the neighborhood
test_new['SalePrice'].mean()

178759.18296514198

In [49]:
# Subset of dataframe to be just ID and Sale Price for Kaggle
test_final = test_new[['Id', 'SalePrice']]

In [50]:
# Save as CSV to submit to Kaggle
test_final.to_csv('./datasets/test_final.csv', index=False)